@page "/dynamic_ui"
<MudRadioGroup @bind-SelectedOption="@SelectedOption">
    @foreach (var i in x)
    {
        <MudRadio Option="i" Color="Color.Primary">@i</MudRadio>
    }
</MudRadioGroup>

<div class="d-flex align-center">
    <MudButton Variant="Variant.Outlined" OnClick="Reset">Reset</MudButton>
    <MudText Class="ml-4">Selected Option: @SelectedOption</MudText>
</div>
<div>
    @foreach (var i in x)
    {
        var _name = "Basic_CheckBox"+x.IndexOf(i);
        <div class="d-inline">
            <MudCheckBox @bind-Checked="_name">@i</MudCheckBox>
        </div>
    }
</div>
<MudCheckBox @bind-Checked="@Label_CheckBox1" Label="Default"></MudCheckBox>
<MudCheckBox @bind-Checked="@Label_CheckBox2" Label="Primary" Color="Color.Primary"></MudCheckBox>
<MudCheckBox @bind-Checked="@Label_CheckBox3" Label="Secondary" Color="Color.Secondary"></MudCheckBox>
<MudCheckBox @bind-Checked="@Label_CheckBox1" Disabled="true" Label="Disabled"></MudCheckBox>
@code {
    public string SelectedOption { get; set; }
    List<string> x = new List<string> { "apple", "banana", "orange" };
    private void Reset()
    {
        SelectedOption = null;
    }

    public bool Label_CheckBox1 { get; set; } = true;
    public bool Label_CheckBox2 { get; set; } = false;
    public bool Label_CheckBox3 { get; set; } = false;
    
}